.footer__title {
  margin: 0 0 50px;
  max-width: 229px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 24px;
    line-height: 133%;
  }
}

@media screen and (max-width: 425px) {
  .footer__title {
    margin-bottom: 40px;
  }
}