.footer__submit {
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: 215%;
  color: #FFFFFF;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.footer__submit:hover {
  opacity: 1;
}