.cards__title {
  margin: 0 0 0 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .cards__title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 16px;
    color: #151515;
    font-size: 14px;
    line-height: 129%;
  }
}