.workout__title {
  margin: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 109%;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1024px) {
  .workout__title {
    font-size: 32px;
    line-height: 40px;
  }
}