.quote__author-subline {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #E5E5E5;
  opacity: 0.7;
}
@media screen and (max-width: 1024px) {
  .quote__author-subline {
    font-size: 10px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .quote__author-subline {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .quote__author-subline {
    text-align: start;
  }
}